src/commands/__pycache__/__init__.cpython-39.pyc
src/commands/__pycache__/chat.cpython-39.pyc
src/commands/__pycache__/command.cpython-39.pyc
src/commands/__pycache__/commandfactory.cpython-39.pyc
src/commands/__pycache__/conversation.cpython-39.pyc
src/commands/__pycache__/summary.cpython-39.pyc
temp/video_file.mpeg
src/__pycache__/Analyzer.cpython-39.pyc
src/__pycache__/DownloadHelper.cpython-39.pyc
src/__pycache__/FileExtractor.cpython-39.pyc
src/__pycache__/OpenAIClient.cpython-39.pyc
